img[alt*="right"] {
  float: right;
  clear: right;
  margin-left: 15px;
  margin-bottom: 10px;
  max-width: 50%;
}

img[alt*="left"] {
  float: left;
  margin-left: 15px;
  margin-bottom: 10px;
  max-width: 50%;
}
